/**
!/.local
!/.local/bin
!/.local/bin/**
!/.config
!/.config/alacritty
!/.config/alacritty/**
!/.config/autorandr
!/.config/autorandr/**
!/.config/fish
!/.config/fish/**
!/.config/fontconfig
!/.config/fontconfig/**
!/.config/kdeglobals
!/.config/xmonad
!/.config/xmonad/xmonad.hs
!/.config/polybar
!/.config/polybar/**
!/.config/tmux
!/.config/tmux/**
!/.config/i3
!/.config/i3/**
!/.config/i3blocks
!/.config/i3blocks/**
!/.config/rclone
!/.config/dunst
!/.config/dunst/dunstrc
!/.config/fish
!/.config/fish/**
!/.config/nvim
!/.config/nvim/init.vim
!/.config/nvim/ginit.vim
!/.config/nvim/colors
!/.config/nvim/colors/**
!/.config/gtk-3.0
!/.config/gtk-3.0/**
!/.config/gtk-2.0
!/.config/gtk-2.0/**
!/.config/zsh
!/.config/zsh/.zshrc
!/.config/zsh/.completions
!/.config/.func
!/.config/xprofile
!/.config/Xresources
!/.config/inputrc
!/.config/wall.jpg
!/.config/mimeapps.list
!/.scripts
!/.scripts/**
!.gitignore
!.profile
!.zprofile
!.xprofile
!.ideavimrc
!.xinitrc
!.gitconfig
!.aliasrc
!.gtkrc-2.0
!.globignore
!.tmux.conf
!.env
!Readme.md
