.config/nvim/plugged
.config/nvim/plugged/**
.config/nvim/autoload/**
.config/fish/fish_variables
.config/fish/completions/web.fish
.config/zsh/.zcompdump
.config/xmonad/**
!.config/xmonad/xmonad.hs
!.config/xmonad/stack.yaml
!.config/nvim/autoload/.gitkeep
.aider*
.php-ini
.php-version
tmp/
.claude/settings.local.json
.config/polybar/fonts.ini
.config/nvim/lazy-lock.json
todo.md
task.md
.config/fish/fish_variables
*.log
.config/nvim/lazy-lock.json
.config/tmux/plugins/
