#!/bin/bash

eval $(gnome-keyring-daemon --start)
export GNOME_KEYRING_SOCKET
export GNOME_KEYRING_PID
export DOTFILES="$HOME/dotfiles"

env_vars=(
    env-vars
    include-paths
    xmonad-vars
)

source_script() {
    local script_name=$1
    local script_path="$DOTFILES/env/$script_name.sh"
    source $script_path
}

[ ! -d $XMONAD_DATA_HOME ] && mkdir $XMONAD_DATA_HOME

[ -f "$HOME/.cargo/env" ] && source "$HOME/.cargo/env"

for env_var in "${env_vars[@]}"; do
    source_script $env_var
done

xset r rate 300 50 &
xsetroot -cursor_name left_ptr &

if xrandr | grep -q "eDP-1 connected"; then
    xrandr --output eDP-1 --primary --mode 1920x1080 --pos 0x0
else
    xrandr --output DP-0 --primary --mode 1920x1080 --pos 0x0 --output DP-2 --mode 1920x1080 --pos 1920x0
fi

